.wrapper {
  padding: 60px 0;
  background-color: var(--bg-base);
}

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.topSection {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 150px;
  width: 100%;
  align-items: start;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

@media (max-width: 900px) {
  .topSection {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .pageContent,
  .bottomSection {
    gap: 32px;
  }
}
