# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

POSTGRES_DB=shagox

# PostgreSQL replication
REPLICATOR_USER=replicator
REPLICATOR_PASSWORD=your_replicator_password

# PostgreSQL ports
POSTGRES_PRIMARY_PORT=5433
POSTGRES_REPLICA_PORT=5434