.vscode/
.idea/

*.log
*.json.log

secrets/

*.key
*.pfx
*.pem


*.csr
*.crt
*.srl

.env
.env.*
!.env.example

secrets/
users.acl

.DS_Store
Thumbs.db

bin/
obj/

TestResults/
coverage/

infrastructure/my_redis/certs/server/