.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list {
  flex: 1;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease-in-out;
}

.link:hover {
  background-color: #ffffff;
  outline: none;
}

.active {
  background-color: #ffffff;
}
