@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

#root {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
}

body {
  min-height: 100vh;
  background-color: var(--bg-base);
  color: var(--text-base);
}

:root {
  --font-base: "Inter", sans-serif;
  --font-alt: "Manrope", sans-serif;
  --bg-base: #f8fafc;
  --text-base: #334155;
}