.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 0;
}

.advertisementContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
