.verifyPage {
  flex: 1;
  background-image: url("/frontend/src/shared/assets/images/hero-auth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
