.whyMarketly {
  user-select: none;
  width: 100%;
  background-color: #f3f7ff;
  padding: 60px;
  border-radius: 16px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.benefits {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.benefitText {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.description {
  text-align: center;
  color: var(--color-primary);
}